<html>
    <head>

    </head>
    <body>
        <h1>HEY</h1>
        <input type="text" id="pin">
        <button onclick="add()">add</button>
        <table>
            <tr>
                <td>pin</td>
                <td>delete</td>
            </tr>
            <% for(let i =0; i <= list.length-1; i++){ %>
                <tr>
                    <td><%=list[i].pin%></td>
                    <input id="x<%=i%>" type="hidden" value="<%= list[i].pin %>">
                    <td><button onclick="deny(document.getElementById('x<%=i%>').value)">deny</button></td>
                </tr>
            <% } %>
        </table>

        <script>
            function add(){
                var host = window.location.protocol + "//" + window.location.host;

                const url = host+"/allow/"+document.getElementById("pin").value
                let xhr = new XMLHttpRequest()
                xhr.open('POST', url, true)
                xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
                xhr.send();
                xhr.onload = function () {
                    if(xhr.status === 201) {
                        console.log("Post successfully created!") 
                    }
                }
            }
            function deny(pin){
                var host = window.location.protocol + "//" + window.location.host;

                const url = host+"/deny/"+pin
                alert(url)
                let xhr = new XMLHttpRequest()
                xhr.open('PUT', url, true)
                xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
                xhr.send();
                xhr.onload = function () {
                    if(xhr.status === 201) {
                        console.log("Post successfully created!") 
                    }
                }
            }
        </script>
    </body>
</html>